@use '../../../src/style/colors';

.voucher-demo h2 {
    margin: 16px 0;
}

.demo-voucher-input {
    background: colors.$color-white;
    padding: 24px;
    border: 1px solid colors.$color-gray;
    margin-bottom: 16px;
}
