@import '../../../src/style';

.voucher-demo h2 {
    margin: 16px 0;
}

.demo-voucher-input {
    background: $color-white;
    padding: 24px;
    border: 1px solid $color-gray;
    margin-bottom: 16px;
}

.url-hint-text {
    color: $color-gray-darker;
    font-size: $font-size-small;
}

.qrcode-demo .merchant-checkout__payment-method__details{
    padding-top: 0;
}
