@use '../../../src/style/colors';
@use '../../../src/style/font-sizes';

.voucher-demo h2 {
    margin: 16px 0;
}

.demo-voucher-input {
    background: colors.$color-white;
    padding: 24px;
    border: 1px solid colors.$color-gray;
    margin-bottom: 16px;
}

.url-hint-text {
    color: colors.$color-gray-darker;
    font-size: font-sizes.$font-size-small;
}

.qrcode-demo .merchant-checkout__payment-method__details{
    padding-top: 0;
}
