node_modules
dist
coverage
storybook-static
.yarn

# Playwright reports
packages/playground/playwright-report/


*.log*
.env
.env*
stats.json
stats.html
.DS_Store
/*.tgz

# IntelliJ
.idea
*.iml

# Sublime Text
*.sublime-project
*.sublime-workspace

# VSCode
.vscode

# VIM
*.swp
*.swo

# Vagrant
Vagrantfile
.vagrant

# Certifictes
cert
*.pem

# Local Netlify folder
.netlify
