*,
*:after,
*:before {
    box-sizing: border-box;
}
html,
body {
    font: 16px/1.21 -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    margin: 0;
}

.merchant-checkout__form {
    max-width: 540px;
    margin: 5vh auto;
}

.merchant-checkout__result {
    background-color: #6abf6a;
    color: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}

.hide {
    display: none;
}

.error{
    background-color: #f00;
}
