.adyen-checkout__phone-input {
    .adyen-checkout__input-wrapper {
        width: 100%;

        .adyen-checkout__input {
            padding: 0;

            &:focus {
                border: none;
                box-shadow: none;
            }
        }

        .adyen-checkout__dropdown__button {
            width: auto;
            border: 0;
            height: 35px;

            &:after {
                left: 40px;
                box-sizing: revert;
            }

            &:focus {
                box-shadow: none;
            }
        }

        .adyen-checkout__input--phoneNumber {
            margin-left: 8px;
            border: 0;
            height: 35px;
        }

        .adyen-checkout__input-wrapper--phoneInput {
            display: flex;
            align-items: center;
        }

        .adyen-checkout__phoneNumber {
            display: flex;
            align-items: center;
            margin-left: 65px;
            width: 100%;
        }

        .adyen-checkout__countryFlag {
            position: absolute;
        }

        .adyen-checkout__dropdown__button--active {
            box-shadow: none;

            &:hover {
                box-shadow: none;
            }
        }
    }
}
