on: ["pull_request"]

name: Coveralls

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3
    - name: Use Node.js 18.15
      uses: actions/setup-node@v3
      with:
        node-version: 18.15

    - name: install, coverage
      run: |
        yarn --frozen-lockfile
        yarn test:coverage
      env:
        CI: true

    - name: Coveralls Parallel
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./packages/lib/coverage/lcov.info

    - name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./packages/lib/coverage/lcov.info
