name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    # Prevents changesets action from creating a PR on forks
    if: github.repository == 'adyen/adyen-web'
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js 22.18.0
        uses: actions/setup-node@v4
        with:
          node-version: 22.18.0

      - name: Enable Corepack
        run: corepack enable

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          version: yarn run version && yarn install ## Run yarn install to also update the yarn.lock file with the new package version
          commit: '[ci] release ${{ github.ref_name }}'
          title: '[ci] Release ${{ github.ref_name }}'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
